//brand colors

$yellow-primary:#F9F002;
$yellow-light: #FEFE33;
$yellow-dark: #E2D605;

$blue-primary: #04D8F5;

//Black / White colors

$white-normal:#F0F0E8;
$white-light:#FCFCF7;
$white-dark:#E3E3D8;

$black-normal:#050502;
$black-light:#0F0F0F;
$black-dark:#030300;



//gray colors

$gray-1: #8C8C88;
$gray-2: #A3A39E;

//auxyliary colors
$redpunk: #FF6058;
$brth-punk:#FF003C;
$blue-punk:#00FFD2;
$red-punk:#FCEE0A;