// Loyout of project

// Container devices

$container-xl: 1290px;
$container-l: 960px;
$container-m: 720px;
$container-s: 576px;

// Mixins of media query

@mixin responsive($device) {
    
   
    @if $device == xl {
        //For resolutions upper than 1290px
        @media screen and (min-width: $container-xl){
            @content;
        }
    }

    @else if $device == l {
        // For resolutions between 960px and 1260px
        @media screen and (max-width:$container-xl) and (min-width:$container-l) {
            @content;
        }
    }

    @else if $device == m {
        // For resolutions between 960px and 1260px
        @media screen and (max-width:$container-l) and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device == s {

        // For resolutions less than 960px 
        @media screen and (max-width: $container-m) {
            @content;
        }
    }
    
    @else if $device == xs {

        // For resolutions less than 576px
        @media screen and (max-width: $container-s) {
            @content;
        }
    }

}

.container {
    max-width: $container-xl;
    overflow: hidden;
    margin: 0 auto;
    padding: 16px 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-top{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-item-1 {
    flex: 1 1 360px;
}

.flex-item-2 {
    flex: 2 1 360px;
}

.flex-item-3 {
    flex: 3 1 360px;
}

.flex-item-4 {
    flex: 4 1 360px;
}

.flex-item-5 {
    flex: 5 1 360px;
}

.flex-item-auto {
    flex: 2 1 auto;
}

.bg__cover {
    width: 100vw;
    height: 100vh;
    background-image: url(".././/./../img/image\ 4.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    z-index: -100;
    transition: .4s ease;

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100vw;
        height: 602px;
        background: linear-gradient(180deg, #0F0F0F 12.75%, rgba(15, 15, 15, 0.483522) 65.1%, rgba(15, 15, 15, 0) 100%);
        position: absolute;
    }
    &::after {
        content: '';
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 240px;
        background: linear-gradient(180deg, rgba(15, 15, 15, 0.84) 2.6%, rgba(15, 15, 15, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);        
        position: absolute;
      
    }

    @include responsive(xs) {
       
        &::after {
           opacity: .7;
        }
    }

}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
    position: relative;
    height: 80vh;

    @include responsive(xs) {
        height: 70vh;
    }

   
}



.img__cyberpunk2077 {
    pointer-events: none;
    width: 110%;
    
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    

}

.hero__bottom {
    width: 100%;
    max-width: $container-xl;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    
}

.scroll__down {
    
    align-items: center;
    color: $white-normal;
    display: flex;
    left: 50%;
    position: absolute;
    font-size: .8rem;
    text-transform: uppercase;
    transform: translate(-50%);
    font-family: 'Aldrich', sans-serif;
    justify-content: space-between;
    
    @include responsive(s) {
        transform: translate(-50%, -15%);
    }
    
    .square {
        filter: drop-shadow(0px 0px 26px #F9FF00) drop-shadow(0px 0px 11px #F9FF00);
    }

    .square--left {
        opacity: 0;
        position: absolute;
        left: 40%;
        
    }
    .square--right {
        opacity: 0;
        position: absolute;
        right: 40%;
        
        
    }
  

    .scroll__down--text {
        
       opacity: 0;
    }
}












//cyber about and glitchs

.cyber__about {
    margin-top: 228px;
    position: relative;
    padding-bottom: 128px;

    @include responsive(s) {
        padding-bottom: 90px ;
    }
   
    &::before {
        background-repeat: no-repeat;
        content: '';
        width: 100%;
        height: 45px;
        position: absolute;
        top: 250px;
        left: 360px;
        background-image: url('.././/./../svg/components/cp-title.svg');

        @include responsive(m) {
            top: 280px;
        }
        
       
    }

    &::after{
        background-repeat: no-repeat;
        content: '';
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: -80px;

        left: 53%;
        
        transform: translate(-50%);
        background-image: url('.././/./../svg/components/cp-1.svg');

        @include responsive(s) {
            display: none;
        }
       
    }
}

.cyber__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 128px;

    @include responsive(xs) {
        margin-top: 64px;
    }
     
   
    .card {
        
        position: relative;
        width: 400px;
        .card__stripe {
            position: absolute;
           
            width: 200px;
            height: 45px;
            top: 165px;
            //top: 49%;
            right: -20px;
            text-transform: uppercase;
            font-size: .9rem;
            color: $black-normal;
            padding: 14px 8px;
            letter-spacing: 1px;
            background-color: $yellow-primary;
            font-family: 'Aldrich', sans-serif;
            box-shadow: 0px 0px 7px $yellow-primary, 0px 0px 12px $yellow-primary;
            

            &::before {
                content: '';
                position: absolute;
                width: 11.50%;
                height: 30px;
                top: -30px;
                right: 0;
                background-color: $yellow-dark;
                clip-path: polygon(0 62%, 0% 100%, 100% 100%);
                @media screen and (max-width:440px) {
                    width: 20px;
                }
            }

            @include responsive(xs) {
                font-size: .8rem;
                top: 45%;
                padding: 8px 4px;
                letter-spacing: normal;
            }
        }

        .card__desc {
            padding:  24px;
            color: $gray-2;
        }
    }
}



.card__img {
    position: relative;

    .card__border {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.news {
    margin-top: 128px;

    @include responsive(xs) {
        margin-top: 72px;
    }
}



.rewards {
    margin-top: 128px;
   
   
    @include responsive(xs) {
        margin-top: 72px;
    }
}

.rewards__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
    @include responsive(s) {
        flex-direction: column;
    }
}

.cyber__rewards-1 {
    
   
    span.hidden {
        color: $yellow-dark;
        user-select: none;
        pointer-events: none;

    }
    .rewards__info {
        color: $brth-punk;
        font-family: 'Aldrich';
        font-size: 1.5rem;
        position: relative;
        padding: 30px 0px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('./.././../svg/components/cp-9-2.svg');
            background-repeat: no-repeat;
            top: 100%;
            left: 80%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;
            top: 100%;
            left: 0;
            background: $yellow-primary;

        }
     
    }

  

    .center-center {
        position: relative;

        .text {
            text-transform: none;
        }
    }

    .rewards__text {
        color: $gray-1;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 2px;
            top: -20%;
            left: 0;
            background: $brth-punk;

        }
        
    }
}

.cyberpunk__wrp {
    display: flex;
    align-items: center;


    
    @include responsive(s) {
        justify-content: center;
    }

   span {
        font-size:5rem ;
        font-family: 'Aldrich';
        text-shadow: 2px 2px 0px #04D8F5;

        
        
       
        @include responsive(xs) {
            font-size: 2rem;
            
        }
   }
}

.cyber__rewards-2 {
  justify-content: center;
  .rewards__img {
    cursor: pointer;
  }
   
    img {
        width: 100%;
    }


    
    


    //glitch image 

    .l-single-news__header {
        position: relative;
        max-width: 1000px;
        max-height: 1000px;
        overflow: hidden;
    
    }
    
    .l-single-news__image {
        transform: scale(1.1)
    }
    
    
    .l-single-news__image img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        opacity: .9;
    }
    
    .l-single-news__image .c-news__image--glitch-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./.././../img/image\ 72.jpg');
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        opacity: .9;
    }
    
    .l-single-news__image .c-news__image-glitch {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden
    }
    
    .l-single-news__image .c-news__image-glitch-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden
    }
    
    .l-single-news__image-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1
    }
    
    .l-single-news__image-layer:hover+.l-single-news__image .c-news__image--glitch-effect {
        display: block;
        animation: 2s infinite alternate glitch-anim-2 linear;
    }
}


//text shufle

.text-change-container{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-change{
  font-family: 'Aldrich', monospace;
  font-weight: normal;
  font-size: larger;
  color: rgb(200, 200, 200);
  filter: drop-shadow(0 0 0.3em rgba(200,200,200,0.3));
}

.dud {
  color: $brth-punk;
  filter: drop-shadow(0 0 0.5em red);

}




.cy__movie {
    display: flex;
    align-items: center;

    @include responsive(s) {
        justify-content: center;
        flex-direction: column;
    }
  
}

.cy__movie__content1 {
   
    .ed__up {
        width: 140px;
    }
    p {
        color: $gray-1;
    }

    .buttons__movie {
        display: flex;
        align-items: center;
        gap: 24px;

        @include responsive(s) {
            flex-direction: column;
        }
    }

    .netflix__movie {
        @include responsive(s) {
            margin-top: 54px;
        }
    }
}


//acordeon

.questions__body {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    @include responsive(s) {
        text-align: center;
        flex-direction: column;
    }
}

.questions__title {
    color: #02D7F2;

    text-shadow: 0px 0px 24px #00FFD2;
}
.acordeon {
    @include responsive(s) {
        margin: 0px 24px;
    }
    max-width: 720px;
    border-bottom: 1px solid $yellow-primary;
}


.acordeon__button {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 32px 0px;

    h4 {
        font-family: 'Aldrich', sans-serif;
        color: $white-normal;
    }

    
   &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $yellow-primary;
        right: 0;
   }

}

.acordeon__button-active::before {
    transition: .4s ease;
    background: #00FFD2;
    box-shadow: 0px 0px 27px 4px #02D7F2;
}   


.acordeon__content {
    overflow: hidden;
    transition: .4s ease;

    p {
        font-size: 1rem;
        color: $gray-1;
        padding-bottom: 24px;
    }
   
    
}


.subscribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include responsive(s) {
        flex-direction: column;
    }
}

.subscribe__text {
   text-align: center;
    h3 {
        margin-bottom: 24px;
    }

    span {
        
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem
    };
}

.subscribe__section {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow-primary;
    position: relative;

    

    &::before {
        content: '';
        position: absolute;
        background-image: url('./../../svg/components/footer-bar.svg');
        width: 100vw;
        height: 100%;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        top: -2%;
        pointer-events: none;
        
    }
    &::after{
        content: '';
        position: absolute;
        background-image: url('./../../svg/components/footer-bottom-bar.svg');
        width: 100vw;
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 3%;
        pointer-events: none;
        
    }

    
}



.form__content {
    display: flex;
    flex-wrap: wrap;

    form {
        display: flex;
        flex-direction: column;
        width: 703px;
        
        

        label {
            font-size: .9rem;
            font-family: 'Roboto', sans-serif;
        }

        input {
            background: transparent;
            outline: none;
            border-bottom: 3px solid $black-normal;
            padding: 14px 0px;
            font-weight: bold;
            font-size: 1.3rem;
            margin-right: 15px;
            overflow: hidden;
        }
    }

    .center-center-4 {
        position: relative;
        align-self: flex-end;
        display: flex;
       

        @include responsive(s) {
           margin-top: 24px;
        }

        .btn-glitch-fill {
            color: $black-normal;
            border: 1px solid $black-normal;
        }
    }
}




//ligth img 

.light__body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('.././/../img/silverHead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.light {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: radial-gradient(circle at 50% 50%, transparent 0%, #080808 30%);
}







